/* An style specifically tailored for the `html-css.html` blog post */

/* This ended up looking like facebook chat messages, but whatever, good enough! */
.conversation {
  --side-column-width: 64px;

  /*
    three column layout,
    - two static side-columns for our students,
    - the remaining space fills the middle column (1fr) aka chat bubble
  */
  display: grid;
  grid-template-columns: var(--side-column-width) 1fr var(--side-column-width);

  /*
    dense flow lets grid items hijack earlier empty space (in a row or column) if they can fit. 
    This way the chat bubble can effectively "swap" places with a span (emoji) element
    that made a new row and skipped two columns for our chat bubble to jump into.
  */
  grid-auto-flow: dense;
}

/* These will be our chat bubbles that span two columns wide in the grid */
.conversation > p {
  grid-column: span 2;

  background-color: rgb(27, 107, 210);
  border-radius: 8px;
  padding: 8px 16px;

  color: var(--not-quite-FFF);
}

/*
  Using the same strategy as with students and pulse effect from before,
  `:nth-of-type()` will adjust styles alternating for left to right sides.
  The margin will keep our chat bubble in the center column, while preventing
  another student from taking that column in the same row.
*/
.conversation > p:nth-of-type(even) {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 20px;
}
.conversation > p:nth-of-type(odd) {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 20px;
}

@media (min-width: 500px) {
  .conversation > p:nth-of-type(even) {
    margin-left: var(--side-column-width);
  }
  .conversation > p:nth-of-type(odd) {
    margin-right: var(--side-column-width);
  }
}

/* Student columns */
.conversation > span {
  grid-column: 1;
  font-size: 32px;
  font-family: 'Noto Emoji Color', 'Noto Emoji Monochrome';

  align-self: self-start;
  text-align: center;

  margin-top: 4px;
}

/* Alternate students, this handles the right-side column */
.conversation > span:nth-of-type(even) {
  grid-column: 3;
}
