nav {
  display:flex;
  flex-direction: column;
  align-items: center;

  background-color: hsl(237deg 30% 13% / 90%);
  transform: translateY(100%);
  transition: transform 0.3s var(--easing-easeInOutQuad);

  position: fixed;
  left: 0;
  right: 0;
  bottom: 56px;

  /* Ensure menu layer overlays any other content */
  z-index: 1;
}

nav.reveal-menu {
  transform: translateY(56px);
}

nav > #blogs {
  border-bottom: 2px solid aquamarine;
  width: fit-content;
  margin: 0 auto;
}

nav > a {
  padding: 8px;
  margin-top: 40px;
  margin-bottom: 80px
}

button#nav-btn {
  color: hsl(157deg 97% 24%);
  background-color: var(--turquoise);
  border-radius: 4px;

  cursor: pointer;
  padding: 4px 8px;

  position: fixed;
  transform: translateX(-50%);
  left: 50%;
  bottom: 8px;

  /* Must be higher than navs */
  z-index: 2;
}

#blogs {
  padding: 10px;
  padding-bottom: 40px;
}

#blogs > h2 {
  border: none;
  text-align: center;

  margin-top: 0;
}

nav h2 {
  /* Text is overlapping the menu button, so fade-in on reveal */
  opacity: 0;
  transition: opacity 0.3s;
}

nav.reveal-menu h2 {
  opacity: 1;
}

#blogs > .layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  gap: 60px;
  justify-content: center;
}

.layout h3 {
  text-transform: uppercase;
}

.layout > section {
  min-width: 240px;
}

.layout ol {
  width: max-content;
  max-width: 200px;

  color: var(--turquoise);
  font-size: 18px;
  list-style-type: decimal-leading-zero;

  margin-left: 32px;
  /* Trim off line-height padding from last item contributing to height */
  margin-bottom: -10px;
}

.layout li {
  padding-left: 0.4ch;
}
