@import url(reset.css);
@import url(/styles/components/typography.css);
@import url(/styles/components/nav.css);

:root {
  --not-quite-FFF: rgb(240,240,240);
  --purple: rgb(65, 40, 110);
  --purple-dimmed: rgb(47, 26, 87);
  --radiant-purple: rgb(111, 0, 255);
  --really-dark-blue: hsl(220deg 25% 10%);
  --turquoise: hsl(170deg 100% 50%);
  /* Better easing functions: https://easings.net/ */
  --easing-easeInOutSine: cubic-bezier(0.37, 0, 0.63, 1);
  --easing-easeInOutQuad: cubic-bezier(0.45, 0, 0.55, 1);
  --easing-easeInExpo: cubic-bezier(0.7, 0, 0.84, 0);
  --easing-easeOutExpo: cubic-bezier(0.16, 1, 0.3, 1);
  --easing-easeOutBack: cubic-bezier(0.34, 1.56, 0.64, 1);
  /*
  --scale-ratio: calc(100vw / 730);
  --size-vertically-challenged: calc(64 * var(--scale-ratio));
  */
  /*
    This can achieve the same result with font-size and em units
    as what I attempted to do above. It hits 128px at 640px viewport width.
    64px == 4rem (browsers typically default to 16px per rem)
  */
  --size-vertically-challenged: min(10vw, 4rem);
}

@media (width <= 600px) {
  :root {
    --size-glorious: 128px;
    --size-legendary: 192px;
  }
}

@media (min-width: 600px) {
  :root {
    --size-glorious: 192px;
    --size-legendary: 256px;
  }
}

/*
  Center the content horizontally and vertically:
*/

html {
  /*
    When vertical scrollbar is present on desktop, it overlays the viewport
    thus a horizontal scrollbar will be present too.
    (verical scrollbar is about about 16px wide? May vary by settings / OS)
  */
  min-width: 320px;
  height: 100%;
}
/* I miss being able to use nested selectors */
html > body {
  height: 100%;
}

main {
  min-height: 100%;

  display: flex;
  flex-wrap: wrap;

  /* Centers items along the same axis across peers on that axis */
  align-items: center;
  /* Vertically distribute height equally across the items */
  justify-content: space-evenly;
  margin: 0 auto;
}

/* Centered videos and embedded youtube iframes */
video, iframe {
  max-width: 90%;

  /* Minimize introducing black bars due to aspect ratio */
  height: min(40vw, 320px);
  min-height: 160px;

  display: block;
  border-radius: 8px;

  margin: 40px auto;
}
/* Breaks my `video` content as it's not using `object-fit: cover` */
/* This just stretches the width of an embed which reduces black bars a tad */
iframe {
  width: 100%;
}

.circle {
  --size: var(--size-legendary);
  width: var(--size);
  height: var(--size);

  border-radius: 50%;
}
